<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.bestbuy.utils.Sewrappers"></class>
			<class name="com.bestbuy.utils.Reports"></class>
			<class name="com.bestbuy.utils.BestBuyWrappers"></class>
			<class name="com.bestbuy.tests.TestCheck_BestBuy"></class>
		</classes>
	</test>
</suite> 